#page-create-point {
    width: 90%;
    max-width: 1100px;
    margin: 48px auto;
}

#page-create-point header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-create-point header a {
    display: flex;
    color: var(--title-color);
    font-weight: bold;
    align-items: center;
}

#page-create-point header a span {
    display: flex;
    width: 20px;
    height: 24px;
    background: url(../assets/arrow-left.svg) no-repeat;
    margin-right: 16px;
}

#page-create-point form {
    max-width: 720px;
    background: white;
    margin: 80px auto;
    padding: 64px;
    border-radius: 8px;
}

#page-create-point form h1 {
    font-size: 36px;
}

#page-create-point form legend {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#page-create-point form legend h2 {
    font-size: 24px;
}

#page-create-point form legend span {
    color: var(--title-color);
    font-size: 14px;
}

#page-create-point form fieldset {
    margin-top: 64px;
    border: 0;
}

#page-create-point form .field {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 24px;
}  

#page-create-point form .field-group {
    display: flex;
}  

#page-create-point form .field-group .field + .field {
    margin-left: 24px;
}

#page-create-point form label {
    font-size: 14px;
    margin-bottom: 8px;
}

#page-create-point form input,
form select  {
    background: #f0f0f5;
    padding: 16px 24px;
    border: 0;
    font-size: 16px;
    border-radius: 8px;
    outline-color: var(--primary-color);
} 

#page-create-point form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#page-create-point form button {
    width: 256px;
    height: 56px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    transition: background-color 400ms;
    margin-top: 40px;
}

#page-create-point form button:hover {
    background-color: #2fb86e;
}

.items-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.items-grid li{
    background-color: #e1faec;
    list-style: none;
    border: 2px solid #e1faec;
    height: 180px;
    border-radius: 8px;
    padding: 32px 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
}

.items-grid li span{
    margin-top: 12px;
    display: flex;
    flex: 1;
    align-items: center;
    color: var(--title-color)
}

.items-grid li.selected{
    background: #beebd1;
    border: 2px solid var(--primary-color);;
}

.items-grid li img,
.items-grid li span{
    pointer-events: none;
}